@use "mixin" as *;
@use "functions" as *;

@use "sass:math";
// @import "vars";
// $flags: ("../flag1.png", "../flag2.png", "../flag3.png");
$egypt: (red, white, black, yellow);
$syria: (red, white, black, green);
$libanon: (red, white, white, green);
// $: ($bg-secondary, $bg-primary);
// $fonts: ($large-font, $small-font);
$countries: ($egypt, $syria, $libanon);

$col1: rgb(
  math.ceil(math.random(255)),
  math.ceil(math.random(255)),
  math.ceil(math.random(255))
);
$col2: rgb(
  math.ceil(math.random(255)),
  math.ceil(math.random(255)),
  math.ceil(math.random(255))
);
$col3: rgb(
  math.ceil(math.random(255)),
  math.ceil(math.random(255)),
  math.ceil(math.random(255))
);

h1 {
  background-color: $col1;
}
h2 {
  background-color: s$col2;
}
h3 {
  background-color: $col3;
}

body {
  width: 100%;
  height: 100vh;
}
@include addGradentCol($col1, $col2, $col3);

$randomCntry: nth($countries, math.ceil(math.random(3)));

$fcol1: nth($randomCntry, math.ceil(math.random(4)));

$fcol2: nth($randomCntry, math.ceil(math.random(4)));

$fcol3: nth($randomCntry, math.ceil(math.random(4)));
$fcol4: nth($randomCntry, math.ceil(math.random(4)));

// .flag {
//   height: 190px;
//   width: 455px;
//   background: linear-gradient(
//     to right,
//     $fcol1 0%,
//     $fcol1 24%,
//     $fcol2 25%,
//     $fcol2 50%,
//     $fcol3 51%,
//     $fcol3 74%,
//     $fcol4 75%,
//     $fcol4 100%
//   );

.flag {
  height: 190px;
  width: 455px;
  background: linear-gradient(
    to right,
    $fcol1 0%,
    $fcol1 24%,
    $fcol2 25%,
    $fcol2 50%,
    $fcol3 51%,
    $fcol3 74%,
    $fcol4 75%,
    $fcol4 100%
  );

  background-repeat: no-repeat;
  background-size: contain;
}
